*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#7c27c7;

    font-family:Arial, Helvetica, sans-serif;

    padding:20px;

}

/* GALERÍA */

.galeria{

    columns:4 250px;

    column-gap:14px;

}

/* IMÁGENES */

.galeria a{

    display:block;

    margin-bottom:14px;

    break-inside:avoid;

}

.galeria img{

    width:100%;

    display:block;

    transition:.35s;

    cursor:pointer;

}

/* EFECTO */

.galeria img:hover{

    transform:scale(1.03);

}

/* CELULAR */

@media(max-width:700px){

.galeria{

columns:2 160px;

}

}
